@import './screens.scss';
@import './colors.scss';

:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: $secondary;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: $large-screen;
  margin: 0 auto;
  min-height: 100svh;
}

body {
  margin: 0;
  padding: 0;
}

.sign {
  background-color: $gray-002;
  border-radius: 16px;
  padding: 40px 24px;
  &-wrap {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100svh;
  }

  &-btn {
    margin-top: 24px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 8px;
  }

  &-action {
    @extend .sign-form;
    margin-top: 24px;
  }

  &-text {
    text-align: left;
    font-weight: 300;
  }

  &-title {
    color: $primary;
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  &-subtitle {
    text-align: center;
    margin-bottom: 12px;
  }

  @media (min-width: $small-screen) {
    width: 298px;
  }
}
.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 62px 24px;
  background-image: url('./images/Dragon-pana.png');
  background-size: cover;
  background-position: center;
  min-height: calc(100svh - 124px);

  &-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
  }

  &-subtitle {
    margin: 24px 0;
  }

  &-action {
    margin-top: 24px;
  }

  &-panel {
    background-color: $panel;
    border-radius: 16px;
    padding: 24px;
    gap: 12px;
  }
}
