@import '../../assets/colors.scss';

.detail {
  border-radius: 8px;
  background-color: $panel;
  padding: 32px 24px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 24px;
}
